{
  "schemaVersion": "1.0",
  "swiftCompiler": {
    "extraCLIOptions": [
      "-assert-config", "Debug",
      "-enable-experimental-feature", "CImplementation",
      "-enable-experimental-feature", "Extern",
      "-Osize",
      "-whole-module-optimization", 
      "-Xfrontend", "-enable-single-module-llvm-emission",
      "-Xfrontend", "-function-sections"
    ]
  },
  "cCompiler": {
    "extraCLIOptions": [
      "-ffunction-sections",
      "-Wall"
    ]
  },
  "linker": {
    "extraCLIOptions": [
      "-lc",
      "-lm",
      "-t",
      "-v"
    ]
  }
}
